.bro {
    color: gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
}

#gang {
    color: gainsboro;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

.head {
    font-size: x-large;
    color: whitesmoke;

}

body {
    background-color: black
    ;
}

.kkk {
    border: 0ch;
}


a:link {
    color: purple;
    }
    a:hover {
        font-weight: bold;
    }
    a:visited {
        font-weight: lighter;
    }

.toplink {
    border: 1px white solid;
    width: 100%;
    display: block;
    text-align: center;
    background-color: darkslateblue;
    color: white;
}
nav{
    display: flex;
    text-decoration: dotted;
    text-shadow: thistle;
    color: #ffe875;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:10px;
    background-color: rgb(17, 17, 17);
    margin: 0px;
    padding: 0px;
    font-weight: bolder;
}
nav a{
    color: whitesmoke;
}

.textup {
    color: white;
}

.textdown {
    color: white;
}

h1 {
    color: white;
    text-align:center
}

 